#msg{
    color: red;
}
*{
    background-color: #ec6161;
    text-align: center;
    position: center;
    color: #000000;
}
#main{
    display:flex;
    flex-flow:row wrap;
}
.option{
    flex:1;
    margin-right: 30px;
    border-right: red 1px solid;
}
.content{
    flex: 2;
    margin: auto;
    height: 100%;
}
table{
    border: white 1px solid;
    position: center;
    text-align: center;
    margin: auto;
}
table,td,th {
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
}

table td {
    padding: 10px 30px;
}
.list{
    list-style: none;
}
a{
    text-decoration:none;
}
li{
    height: 60px;
    text-align: center;
}
#footer{
    position: fixed;
    bottom:0px;
    width: 100%;
 }