<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/static/css/style.css}" type="text/css"/>
</head>
<body>
    <div id="header">
            <h1>小希宠物医院</h1>
        </div>
    <div id="main">
        <div class="option">
            <ul class="list">
                <li>请选择要进行的操作</li>
                <li><a href="/home">首页</a></li>
                <li><a href="/select">查询</a></li>
                <li><a href="/delete">删除</a></li>
                <li><a href="/update">修改</a></li>
            </ul>
        </div>
        <div class="content">
            <p>开始添加宠物</p>
            <form action="/add1" method="post">
                *姓名：<input type="text" id="name" name="name" th:value="${name}"><br>
                *类型：<input type="text" id="type" name="type" th:value="${type}"><br>
                *症状：<input type="text" id="symptom" name="symptom" th:value="${symptom}"><br>
                *就诊结果：<input type="text" id="result" name="result" th:value="${result}"><br>
                备注：<input type="text" id="other" name="other" th:value="${other}"><br>
                时间：<input type="text" id="date" name="date" th:value="${date}"><br>
                <span id="msg" th:utext="${msg}"></span><br>
                <!--        <h3 th:utext="${SelectResult}">查询结果</h3>-->
                <input type="submit" value="添加">
                <input type="reset" value="重置"><br>
            </form>
        </div>
    </div>
    <div id="footer">
        <div>Copyright (C)小希宠物医院 2016-2018,All Rights Reserved|京ICP证000001号音像制品经营许可证</div>
        <address>通讯地址:中关村南大街27号中央民族大学 读者服务部&nbsp;&nbsp;电话:(010)
            62781733&nbsp;&nbsp;网管信箱:netac dmin@tup.tsinghua.edu.cn</address>
    </div>
</body>
</html>