<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addUser</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/static/css/style.css}" type="text/css"/>
</head>
<body>
    <div id="header">
        <h1>小希宠物医院</h1>
    </div>
    <div id="main">
        <div class="option">
            <ul class="list">
                <li>请选择要进行的操作</li>
                <li><a href="/home">首页</a></li>
                <li><a href="/select">查询</a></li>
                <li><a href="/add">添加</a></li>
                <li><a href="/delete">删除</a></li>
                <li><a href="/update">修改</a></li>
                <li><a href="/selectUser">管理员查询</a></li>
            </ul>
        </div>
        <div class="content">
            <p>开始添加管理员信息</p>
            <form action="/addU" method="post">
                *编号：<input type="number" name="num" th:value="${num}"><br>
                *姓名：<input type="text" name="uname" th:value="${uname}"><br>
                *密码：<input type="text" name="upwd" th:value="${upwd}"><br>
                <span id="msg" th:utext="${msg}"></span><br>
                <input type="submit" value="添加">
                <input type="reset" value="重置"><br>
            </form>
        </div>
    </div>
    <div id="footer">
        <div>Copyright (C)小希宠物医院 2016-2018,All Rights Reserved|京ICP证000001号音像制品经营许可证</div>
        <address>通讯地址:中关村南大街27号中央民族大学 读者服务部&nbsp;&nbsp;电话:(010)
            62781733&nbsp;&nbsp;网管信箱:netac dmin@tup.tsinghua.edu.cn</address>
    </div>
</body>
</html>