<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
</head>
<body>
<!--    <h1>login successfully</h1>-->
    <h3 th:utext="${SelectResult}">login successfully</h3>
    <h1>欢迎来到宠物医院</h1>
    <div id="act">
        <h3>请选择要进行的操作</h3>
        <a href="/add"><button id="add">添加</button></a>
        <a href="/select"><button id="select">查询</button></a>
        <a href="/update"><button id="update">修改</button></a>
        <a href="/delete"><button id="delete">删除</button></a>
    </div>
</body>
</html>