<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询</title>
</head>
<body>
    <div id="urlbtn">
        <a href="/home"><button>首页</button></a>
        <a href="/add"><button>添加</button></a>
        <a href="/update"><button>更新</button></a>
        <a href="/delete"><button>删除</button></a>
    </div>
    <div>
        <form action="/select1" method="post">
<!--            <input type="submit" value="">-->
            <button type="submit">查询所有信息</button>
        </form>
        <form action="/select2" method="post">
            姓名：<input type="text" id="pname" name="name"></br>
            宠物类型：<input type="text" id="ptype" name="type"></br>
            <span id="msg" th:utext="${msg}"></span></br>
            <input type="submit" value="查询">
            <input type="reset" value="重置">
        </form>
        <div th:utext="${info1}">查询信息</div></br>
        <div th:utext="${info2}">查询信息</div></br>
    </div>
</body>
</html>