<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新</title>
</head>
<body>
  <div id="urlbtn">
    <a href="/home"><button>首页</button></a>
    <a href="/add"><button>添加</button></a>
    <a href="/select"><button>查询</button></a>
    <a href="/delete"><button>删除</button></a>
  </div>
  <div class="input">
    <form action="update1" method="post">
      <ul>
        <li>姓名：<input type="text" name="name"></li>
        <li>类型：<input type="text" name="type"></li>
        <li>症状：<input type="text" name="symptom"></li>
        <li>就医结果：<input type="text" name="result"></li>
        <li>备注：<input type="text" name="other"></li>
        <li><span id="msg" th:utext="${msg}"></span></li>
      </ul>
      <input type="submit" value="更新">
      <input type="reset" value="重置">
    </form>
  </div>
</body>
</html>