<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.mapper.PetMapper">
    <insert id="add" parameterType="String">
        insert into info(pname,pother,ptype,psymptom,pvresult,pdate) values(#{name},#{other},#{type},#{symptom}, #{result}, #{date})
    </insert>

    <delete id="delete" parameterType="String">
        delete from info where pname=#{name} and ptype=#{type};
    </delete>

    <update id="update" parameterType="String">
        update info set pvresult=#{result},psymptom=#{symptom},pother=#{other} where pname=#{name} and ptype=#{type};
    </update>

    <select id="select" parameterType="String" resultType="com.example.springbootdemo.bean.pet">
        select * from info;
    </select>
</mapper>